@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-jetbrains), monospace;
    background-color: #121a17;
    transition: cursor 0.3s ease-in-out;
}

.title-neon {
    text-shadow: 0 0 3px #00ffa1, 0 0 6px #00ffa1;
}

.subtile-neon:hover {
    text-shadow: 0 0 3px #00ffa1, 0 0 6px #00ffa1;
}

/* From Uiverse.io by Galahhad */
.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 5px 10px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #00ffa1;
    --default-btn-color: #ffffff98;
    --font-size: 12px;

}

/* Botão settings (permanece inalterado) */
.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-size) var(--font-family);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    border: 2px solid #ffffff80;
}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: transparent;
    border: 2px solid var(--hover-btn-color);
    box-shadow: 0 0 10px #00ffa1;
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
    text-shadow: 0 0 10px #00ffa1;
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

.ui-nav {
    --nav-default-bg: rgb(41, 41, 41);
    --nav-hover-bg: rgb(51, 51, 51);
    --nav-transition: .3s;
    --nav-letter-spacing: .1rem;
    --nav-animation-duration: 1.2s;
    --nav-shadow: 0 2px 10px 0 var(--nav-shadow-color);
    --hover-nav-color: #00ffa1;
    --default-nav-color: #ffffff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: JetBrains_Mono, monospace;
}

/* Botão settings (permanece inalterado) */
.ui-nav {
    box-sizing: border-box;
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-nav-color);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: var(--nav-transition);
    overflow: hidden;
    box-shadow: var(--nav-shadow);
    background: transparent !important;
}

.ui-nav span {
    letter-spacing: var(--nav-letter-spacing);
    transition: var(--nav-transition);
    box-sizing: border-box;
    position: relative;
    background: transparent !important;
}

.ui-nav span::before {
    position: absolute;
    content: "";
    background: transparent !important;
}

.ui-nav:hover span,
.ui-nav:focus span {
    background: transparent !important;
}

.ui-nav:hover span::before,
.ui-nav:focus span::before {
    animation: chitchat linear both var(--nav-animation-duration);
    background: transparent !important;
}

/* Animação chitchat para letras aleatórias */
@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

/* Loader SVG */
.loader {
    width: 8em;
    height: 8em;
}

/* Contorno neon e efeito de dissolução para o loader */
.loader path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 500;
    animation: dashArray 3s ease-in-out infinite, dashOffset 3s linear infinite, neonPulse 3s ease-in-out infinite;
    filter: drop-shadow(0px 0px 18px #00ffa1) drop-shadow(0px 0px 36px #00ffa1);
}

/* Animação do traçado */
@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 499 0;
    }

    50% {
        stroke-dasharray: 0 499 1 0;
    }

    100% {
        stroke-dasharray: 499 1 0 0;
    }
}

/* Animação do deslocamento do traçado */
@keyframes dashOffset {
    0% {
        stroke-dashoffset: 1500;
    }

    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes neonPulse {

    0%,
    100% {
        filter: drop-shadow(0px 0px 18px #00ffa1) drop-shadow(0px 0px 36px #00ffa1);
    }

    50% {
        filter: drop-shadow(0px 0px 25px #00ffa1) drop-shadow(0px 0px 45px #00ffa1);
    }
}